#card{
    background: var(--bg);

}
#detail{
    height: 80vh;
    overflow: auto;
}
#title{
    background: var(--bgImgGrad);
}
#eachRow{
    background: var(--bgImgGrad);
}

#key{
    border-right-style: solid
}

@media only screen and (max-width: 992px) {
    #key{
        border-right-style: none
    }
}