:root {
  --shadow: 0 3px 3px rgb(243, 240, 240);
  --bgColor: #c5c8cc;
  --bgImgGrad: linear-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
  --boxShadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
  --boxShadowHover: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
  --bg: #141619
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 6px;
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.App {
  text-align: center;
  background-color: var(--bg);
  background: var(--bg);
  display: flex;
  overflow:hidden;
}

.App-link {
  color: #61dafb;
}
